# Overview

In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
Bonus Questions (Optional)

* What is the most popular hour for returning cars?
* What station is the most popular?
* Overall?
* At the most popular picking hour?
* What postal code is the most popular for picking up Blue cars? 
* Does the most popular station belong to that postal code?
* Overall?
* At the most popular picking hour?
* Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 

Your final deliverable will be a data report which will comprise the following sections;
 
*   Business Understanding 
*   Data Understanding 
*   Data Preparation 
*   Analysis 
*   Recommndation 
*   Evaluation

You can get the data and the dataset description for this Independent project here [http://bit.ly/autolib_dataset] and here respectively [Link].  The dataset contains data collected for a period of 9 days. The dataset may take a bit of some time to load [~ 10 minutes]. 

Hint:

To compute usage, we will need to understand that we have to join successive (in time) measures/counters for a given station, as the difference will tell whether a car was picked up, returned, or nothing happened.

The CRISP-DM methodology will guide you while working on the Data Report. Your Data Report will also need to have an objective account, with insights majorly coming from the dataset. However, you can refer to external information for supporting information. 

You can use either SQL/Python for this project.

# **1. Importing our libraries**

In [2]:
import pandas as pd
import numpy as np

# **2. Reading the Dataset from our CSV file**

The dataset contains data collected for a period of 9 days.
[http://bit.ly/autolib_dataset]

In [3]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
df = pd.read_csv('/content/Autolib_dataset (2).csv', delimiter = ',')
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [32]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
df1 = pd.read_excel('/content/Stations_Open_Data.xlsx')
df1.head()

     ID DSP                         ID Autolib  ...   latitude  longitude
0  75101-PD            Paris/Pyramides/Parking  ...  48.865247   2.333053
1  75103-PA         Paris/Saint-Martin/Parking  ...  48.865847   2.353606
2  75104-PE                Paris/Lobau/Parking  ...  48.856399   2.353686
3  75104-PF           Paris/Notre-Dame/Parking  ...  48.853581   2.348915
4  75106-PA  Paris/Rennes Montparnasse/Parking  ...  48.845128   2.325235

[5 rows x 11 columns]

# Previewing our Dataset

In [33]:
# Let's preview the first 10 rows of our data
# 
df.head(3)

                            ADDRESS  CARS  BLUECAR COUNTER  ...  DAY  HOUR  MINUTE
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 24 columns]

In [34]:
# Let's preview the first 10 rows of our data
# 
df1.head(3)

     ID DSP                  ID Autolib  ...   latitude  longitude
0  75101-PD     Paris/Pyramides/Parking  ...  48.865247   2.333053
1  75103-PA  Paris/Saint-Martin/Parking  ...  48.865847   2.353606
2  75104-PE         Paris/Lobau/Parking  ...  48.856399   2.353686

[3 rows x 11 columns]

# Accessing Information about our Dataset

In [7]:
# Getting to know more about the dataset by accessing its information
# 
print(df.info())
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB
None

(5000, 25)

In [8]:
# Getting to know more about the dataset by accessing its information
# 
print(df1.info())
df1.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID DSP           1058 non-null   object
 1   ID Autolib       1058 non-null   object
 2   adresse          1058 non-null   object
 3   CP               1058 non-null   int64
 4   ville            1058 non-null   object
 5   prises Autolib   1058 non-null   int64
 6   prises Tiers T3  493 non-null    float64
 7   abri             76 non-null     float64
 8   type             1058 non-null   object
 9   latitude         1058 non-null   float64
 10  longitude        1058 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 91.0+ KB
None

(1058, 11)

# **3. Cleaning our Dataset**

In [35]:
# Checking for missing data
#

df.isnull().sum()

ADDRESS                0
CARS                   0
BLUECAR COUNTER        0
UTILIB COUNTER         0
UTILIB 1.4 COUNTER     0
CHARGE SLOTS           0
CHARGING STATUS        0
CITY                   0
ID                     0
KIND                   0
GEO POINT              0
POSTAL CODE            0
PUBLIC NAME            0
RENTAL STATUS          0
SCHEDULED AT           0
SLOTS                  0
STATION TYPE           0
STATUS                 0
SUBSCRIPTION STATUS    0
YEAR                   0
MONTH                  0
DAY                    0
HOUR                   0
MINUTE                 0
dtype: int64

In [10]:
# Listing all the columns that have missing values

df.isnull().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Displayed comment       True
ID                     False
Kind                   False
Geo point              False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [37]:
df1.isnull().sum()

ID DSP               0
ID Autolib           0
adresse              0
CP                   0
ville                0
prises Autolib       0
prises Tiers T3    565
abri               982
type                 0
latitude             0
longitude            0
dtype: int64

In [13]:
df1.isnull().any()

ID DSP             False
ID Autolib         False
adresse            False
CP                 False
ville              False
prises Autolib     False
prises Tiers T3     True
abri                True
type               False
latitude           False
longitude          False
dtype: bool

# Validity

In [38]:
df.head(4)

                            ADDRESS  CARS  BLUECAR COUNTER  ...  DAY  HOUR  MINUTE
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3            51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37

[4 rows x 24 columns]

In [17]:


df.drop(['Displayed comment']	, axis=1, inplace=True)

In [19]:
# Completeness
# This works on the completeness of the dataframe by replacing Null-values with the word "Missing"

df.fillna('Missing', inplace=True)

In [20]:
# Completeness
# We drop the 2 columns that contain Null_values
df1.drop(['prises Tiers T3', 'abri']	, axis=1, inplace=True)

# Consitency

In [45]:
df.duplicated().sum()

# This dataframe was consistent because there were no duplicated columns

0

In [44]:
df1.duplicated().sum()

# This dataframe was consistent because there were no duplicated columns

0

# Uniformity

In [42]:
# Changing the Columns names to Upper Case

df.columns = df.columns.str.upper()
df.columns
df.head()

                            ADDRESS  CARS  BLUECAR COUNTER  ...  DAY  HOUR  MINUTE
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3            51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
5              8 Boulevard Voltaire     0                0  ...    6     7       2

[5 rows x 24 columns]

In [25]:
#create a function that removes white spaces, converts string values to upper case and replaces double spaces with single space
def clean_df1(x):
  if isinstance(x, str):
    return x.strip().upper().replace('  ', ' ')
  else:
    return x

#apply the function to the dataframe and assign dataframe to new variable
df_valid1 = df1.applymap(clean_df1)

#display a few records to see changes
df1.head()

     ID DSP                         ID Autolib  ...   latitude  longitude
0  75101-PD            Paris/Pyramides/Parking  ...  48.865247   2.333053
1  75103-PA         Paris/Saint-Martin/Parking  ...  48.865847   2.353606
2  75104-PE                Paris/Lobau/Parking  ...  48.856399   2.353686
3  75104-PF           Paris/Notre-Dame/Parking  ...  48.853581   2.348915
4  75106-PA  Paris/Rennes Montparnasse/Parking  ...  48.845128   2.325235

[5 rows x 9 columns]

# **4. Merging both Dataframes**

In [43]:
# Here we merge the 2 cleaned dataframes
#
df_merge = df.join(df1, how="outer")
df_merge.head()

                            ADDRESS  CARS  ...   latitude  longitude
0               2 Avenue de Suffren   0.0  ...  48.865247   2.333053
1         145 Rue Raymond Losserand   6.0  ...  48.865847   2.353606
2  2 Avenue John Fitzgerald Kennedy   3.0  ...  48.856399   2.353686
3            51 Rue EugÃ¨ne OudinÃ©   3.0  ...  48.853581   2.348915
4                               NaN   NaN  ...  48.845128   2.325235

[5 rows x 35 columns]

# **5. Answering Questions**

In [27]:
# What is the most popular hour for returning cars?
#Subsetting the data by selecting positive of the slots then sorting the hours
df[df.SLOTS > 0].groupby(['HOUR'])['BLUECAR COUNTER'].count().sort_values(ascending=False).head(1)

HOUR
16    152
Name: BLUECAR COUNTER, dtype: int64

### What is the most popular hour for returning cars?

In [28]:
# At the most popular picking hour?

#most popular hour 
#using the IQR method 
Q1=df.quantile(0.25) 
Q2=df.quantile(0.50) 
Q3=df.quantile(0.75) 

IQR=Q3-Q1 
print(IQR) 
RANGE1=Q1-(1.5*IQR) 
RANGE2=Q3+(1.5*IQR) 
RANGE1 
RANGE2

CARS                      4.0
BLUECAR COUNTER           4.0
UTILIB COUNTER            0.0
UTILIB 1.4 COUNTER        0.0
CHARGE SLOTS              0.0
POSTAL CODE           17308.0
SLOTS                     3.0
YEAR                      0.0
MONTH                     0.0
DAY                       4.0
HOUR                     12.0
MINUTE                   30.0
dtype: float64

CARS                      10.0
BLUECAR COUNTER           10.0
UTILIB COUNTER             0.0
UTILIB 1.4 COUNTER         0.0
CHARGE SLOTS               0.0
POSTAL CODE           118282.0
SLOTS                      7.5
YEAR                    2018.0
MONTH                      4.0
DAY                       13.0
HOUR                      36.0
MINUTE                    89.0
dtype: float64

In [29]:
Hours=df[(df['CITY'] == 'Paris') & (df['YEAR'] == 2018) & (df['MONTH'] == 4)]

Hours= Hours.groupby(['HOUR'])['BLUECAR COUNTER'].sum()
Hours[[Hours.idxmax()]]

HOUR
21    268
Name: BLUECAR COUNTER, dtype: int64

### What station is the most popular?

i.) Overall

In [30]:
#Subsetting the dataset then sorting it by the name
df = df[(df['KIND'] == 'STATION') & (df['RENTAL STATUS'] == 'operational')]
df.groupby(['ID'])['KIND'].count().sort_values(ascending=False).head(1)

ID
paris-portedemontrouge-8    13
Name: KIND, dtype: int64

In [31]:
#Subsetting the dataset then sorting it by the name
df2 = df[(df['BLUECAR COUNTER'] > 0) & (df['HOUR'] == 6).groupby(['POSTAL CODE', 'HOUR'])['BLUECAR COUNTER'].max()
df2

SyntaxError: ignored

###  ii) At the most popular picking hour

In [ ]:
# What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
df = df[(df['KIND'] == 'STATION') & (df['RENTAL STATUS'] == 'operational') & (df['HOUR'] == 6)]
df.groupby(['ID'])['KIND'].count().sort_values(ascending=False).head(1)

df_merge.groupby("postal_code").count().sort_values(by="postal_code").head() 
# Overall?
# At the most popular picking hour?